/* colors used:
    E8E9F3 - whitish color
    1C110A - blackish color
    DD6E42 - orangy color
    272635 - purple color
    E9B44C - yellow color

*/

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

h4 {
    font-family: 'Yantramanav', sans-serif;
    font-weight: 300;
    font-size: 2em;
}

hr.style-four {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.out {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.in {
    height: 100vh;
    width: 102vw;
    overflow-y: scroll;
    overflow-x: hidden;
}


/*Navigation Bar*/
.openBtn {
    position: fixed;
    z-index: 1;
    top: 5%;
    right: 5%;
    color: #DD6E42;
}


#headContent {
    height: 100vh;
    width: 100vw;
    text-align: center;
    color: white;
    display: table;
    background-color: #272635;
    background-image: url(../images/background.png);
    overflow-x: hidden;
}

.table {
    height: 90vh;
    display: table;
    overflow-x: hidden;
}

.verticalAlign {
    display: table-cell;
    vertical-align: middle;
}

.vertical-align {
    display: flex;
    align-items: center;
}

/* CONTENT DIV */

#content {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: #E8E9F3;
}

#navigation {
    position: relative;
    top: 5vh;
    text-align: center;
}

#navigation a {
    color: #7B7D7D;
    margin: 0 50px;
}

#navigation a:hover {
    color: #1C110A;
    text-decoration: none;
    cursor: pointer;
}

#about {
    height: 100vh;
    width: 100vw;
    padding-top: 25px;
    overflow-x: hidden;
    background-color: #E8E9F3;
}

img {
    border-radius: 50%;
	height: 75%;
	width: auto;
	position: absolute;
	top: 5vh;
}

.image{
    height: 100%;
    width: auto;
    background-color: black;
    background-image: url(../images/IMG_2620.JPG);
    background-position: 100% 50%;
}

.lead a {
    color: #DD6E42;
}

.lead a:hover {
    text-decoration: none;
    color: #1C110A;
}

#contactForm {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    text-align: right;
    overflow-x: hidden;
    background-color: #272635;
    background-image: url(../images/background.png);
    color: #E8E9F3;
}

#contactInfo {
    text-align: left;
}

.sectionTitle {
    font-family: 'Yantramanav', sans-serif;
    font-weight: 100;
    font-size: 4em;
}

#project {
    text-align: right;
}

/* BOOTSTRAP BUTTON CSS */

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active,
.btn-primary.active {
    background: #007299;
    box-shadow: none;
}

.btn.outline {
    background: none;
    padding: 12px 22px;
}

.btn-primary.outline {
    border: 2px solid #0099cc;
    color: #0099cc;
}

.btn-primary.outline:hover,
.btn-primary.outline:focus,
.btn-primary.outline:active,
.btn-primary.outline.active,
.open > .dropdown-toggle.btn-primary {
    color: #33a6cc;
    border-color: #33a6cc;
}

.btn-primary.outline:active,
.btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}

/* The side navigation menu */
.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 2;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #1C110A;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #DD6E42;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #E9B44C;
}

/* Position and style the close button (top right corner) */
.closebtn {
    position: absolute;
    top: 5%;
    right: 5%;
    color: #DD6E42;
}
