/* colors used:
    E8E9F3 - whitish color
    1C110A - blackish color
    DD6E42 - orangy color
    272635 - purple color
    E9B44C - yellow color

*/

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

.fixed {
    position: fixed;
}

#headContent{
    width: 100vw;
    text-align: center;
    color: white;
    display: table;
    background-color: #272635;
    background-image: url(../images/background.png);
}

.verticalAlign{
    position: relative;
    top: 40%;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #1C110A; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #E8E9F3;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #E9B44C;
}

.navLinks{
    position: relative;
    top:30vh;
    text-align: center;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    color: #E9B44C;
    position: absolute;
    top: 30px;
    right: 25px;
    margin-left: 50px;
}

#openBtn {
    color: #E9B44C;
    top: 30px;
    right: 25px;
    z-index: 1;
}

#about {
    margin-top: 1vh;
    background-color: #E8E9F3;
}

.sectionTitle{
    font-family: 'Yantramanav', sans-serif;
    font-weight: 100;
    font-size: 4em;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}